.addTaskBtn {
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: blue;
    padding: 5px 8px;
    text-align: center;
}

#addTasks {
   padding-bottom: 10px;
}

body {
    text-align: left;
    width: 700px;
    margin: auto;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    
    
}

.completeBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    float: right;
    cursor: pointer;
}

.completed {
    color: #4CAF50;
    text-decoration: line-through;
}

.deleteBtn {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    float: right;
    cursor: pointer;
}

header {
    text-align: center;
    
}

.indvTask {
    
}

input {
    margin-left: 100px;
    padding: 5px;
    width: 60%;
    
}

#output {
    background-color: white;
}

table {
    border: 1px solid;
    width: 700px;
}

.taskText {
    width: 600px;
}

